

/*Black Nav bar (<nav>) */
nav {
	height: 48px;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	text-align: center;
	/*opacity: .95;*/
	z-index: 99;
}

/*The list <ul> in the black Nav Bar*/
ul {
	/*border: 1px solid yellow;*/
	display: block;
	margin: auto;
	height: 100%;
	padding: .9%;
}

/* The words and icons in the list (<li>) in the Black Nav Bar */
ul li {
	/*border: 1px solid red;*/
	display: inline;
	color: #fff;
	font-size: 14px;
	font-weight: 200;
	margin: 0px 3%;
}

/* The icons in the Navbar*/
ul li i {
	font-size: 23px;
}

/* This will Apply to any element of <section>, it applies to EVERY <section> element*/
section {
	text-align: center;
	height: 580px;
	margin-bottom: 15px;
}

/********** iPhone-x Section *************/

/* The first section with the iphone x*/
#iphone-x {
	width: 100%;
	background-image: url("../img/iphone-x.jpeg");
	background-repeat: no-repeat;
	/*The :cover;  will make it so your image takes up wthe full space of its parent element (section) */
	background-size: cover;
	background-color: rgba(242, 242, 242);
	/*This property, psitions the image within the section element so you can adjust its position*/
	background-position: 50% 23%;
	padding-top: 10%;
}

/* Notice how using a class to style two similar sections is used here, below. The iPhone X and iPad text have the same styling, so why not use one class for both sections!?!*/

/*Notice how SPECIFIC the CSS seletors are. This allows us to NOT create a CLASS for every single element we want to style*/

/*Heading for iPhone X and iPad*/
.section-info h1 {
	font-size: 55px;
	font-weight: 600;
}

.section-info h3 {
	font-weight: 300;
}

/* The Learn more and Buy links under iPhone X and iPad*/
.section-info a {
	font-size: 20px;
	margin: 10px;
	font-weight: 300;
}

/* The little ">" arrows next to the <a> links*/
.section-info a i {
	font-size: 15px;
	padding-left: 5px;
}

/*************** End of iPhone X Section **************/




/*************** iPad Section ************************/

/* The ipad <section> element*/
#ipad {
	background-color: rgba(245, 245, 245);
	padding-top: 4%;
}

/*The image of the ipad with the Apple pencil*/
#ipad img {
	position: relative;
	top: 30px;
	width: 80%;
	height: 60%;
}


/*************** End of iPad Section ************************/



/*************** MacBook Pro Section ************************/

/* The macbookpro <section> element*/
#macbookpro {
	background-color: rgba(19, 18, 24);
	padding-top: 4%;
}

/*The image of the ipad with the Apple pencil*/
#macbookpro img {
	position: relative;
	top: 14px;
	width: 90%;
	height: 70%;
}

#macbookpro h1 {
	color: #fff;
}

#macbookpro h3 {
	color: #fff;
}

#macbookpro a {
	color: #fff;
}




/*************** MacBook Pro Section ************************/
















